snippet console
	console.log(${1:var})
snippet map
	${1:list}.map((${2:item}) => {
		${0:$VISUAL}
	})
snippet fun "Arrow function"
	const ${1:var} = (${2:params}) => {
		${0:$VISUAL}
	}
snippet ternary
		${1:condition}
			? ${2:true}
			: ${3:false}
